# Uber Data Analysis

## Importing

In [1]:
%pylab inline
# Data manipulation
import pandas
# Plot
import seaborn

Populating the interactive namespace from numpy and matplotlib

## Load CSV file to Memory

In [12]:
data = pandas.read_csv(r'H:\Documents\Programmation\Python\uber_data_analysis\uber-raw-data-apr14.csv')

In [13]:
data.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

### Date : from string to right type

<u>Version 1 :</u> Using split and cast

In [21]:
dt = "4/1/2014 0:11:00"

In [22]:
d,t = dt.split(" ")
month,day,year = d.split("/")

In [23]:
print(int(month))
print(int(day))
print(int(year))

4
1
2014

<b>Conclusion :</b> hard to work with this way. We can use Pandas to make it easier.

<u>Version 2 :</u> Using Pandas

In [31]:
dt = pandas.to_datetime(dt)

In [35]:
print(dt.month)
print(dt.day)
print(dt.year)

4
1
2014

<b>Conclusion :</b> lots of functionalities, way more easier.